<div class="row">
	<div class="small-9 columns">
		<h2>MOVIES</h2>
		<%= link_to "Add a Movie", :new_movie, :class=>"button"%>
		<% @movies.each do |movie| %>
			<h3>
				<%= link_to "#{movie.title}", movie_path(movie)%>
				<%=" (#{movie.year})"%>
			</h3>
		<% end %>
	</div>
</div>