<div class="row">
	<div class="small-9 columns">
		<h2>
			<%= @actor.name %>
		</h2>

		<h3>
			<% @roles.each do |role| %>
				<%= link_to "#{role.movie.title}", movie_path(role.movie) %>
				<%= " - #{role.name}" %>
				<br>
			<% end %>
		</h3>
	</div>
</div>